#song {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
    width: 100vw;
    padding: 20px;
    z-index: 2;

    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}

.top #song {
    align-self: flex-start;
}

.right #song {
    flex-direction: row-reverse;
    text-align: right;
}

.box-background #song {
    background-color: #0000006b;
    border-radius: 30px;
    padding: 10px;
}

#song-info {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    flex-grow: 1;
}

.right #song-info {
    text-align: right;
    align-items: end;
}

#title {
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    font-family: "Torus Bold", NotoSansJP, sans-serif;
}

#artist {
    font-size: 1em;
    opacity: .8;
}

#album {
    opacity: .8;
}